.App {
  text-align: center;
}

.App-logo {
  text-align: center;
  height: 20vmin;
  pointer-events: none;
  color: white;
  border: rgb(42, 66, 117) 2px solid;
  background-image: linear-gradient(to top, #406fc5 0%, #92a1e2 100%);
  border-radius: 100px;
  padding: 15px 15px;
  max-width: 500px;
  margin: 0 auto;
  
}

.Name {
  text-align: center;
  font-family: "Chivo", sans-serif;
  color: rgb(42, 66, 117);
  font-weight: bolder;
  font-size: 20px;
}
