.App {

  background-color: rgba(133, 140, 145, 0.788);
}

.App-logo {
  display: block;
  text-align: center;
  height: 20vmin;
  pointer-events: none;
  color: white;
  border: rgb(42, 66, 117) 2px solid;
  background-image: linear-gradient(to top, #081f4996 0%, #6e7cbb 100%);
  border-radius: 100px;
  padding: 15px 15px;
  max-width: 500px;
  margin: 0 auto;
  
}

.Name {
  text-align: center;
  font-family: "Chivo", sans-serif;
  color: rgb(32, 50, 88);
  font-weight: bolder;
  font-size: 20px;
}

.copyright {
  text-align: center;

}